<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/jpg" href="https://1.bp.blogspot.com/-jpWbT-yJ7kw/X4oCGi4u0OI/AAAAAAAAAGU/OIKVaDdScoQCYj3zrpMSPCW4k7S7VzKowCLcBGAsYHQ/s320/hacker-5471975_1280.webp"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>
    {% block title %}
        
    {% endblock title %}
        </title>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">WebSite</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="active"><a   href="{% url 'home' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
        <li><a href="{% url 'contact' %}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      
      {% if user.is_authenticated %}
      <li><a href="{% url 'chat' %}"><span class="glyphicon glyphicon-send"></span> Chat</a></li>
      <li><a href="{% url 'signout' %}"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
      {% else %}
      <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{% url 'signin' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      

    </ul>
    {% endif %}
  </div>
</nav>
  
<div class="container">
    {% block content %}
            
    {% endblock content %}
</div>

</body>
</html>
